
@import "reset.css";

html {
    font-size: 100%;
}

body {
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

p{
    text-align: center;
}

.section{
    width: 373px;
    height: 581px;
    padding: 0px;
    margin: 20px;
}

.section-login{
    border : 1px rgb(206, 206, 206) solid;
}

.img-section{
    background-image: url('image/home-phones.png');
    background-position: -47px 0px;
    background-repeat: no-repeat;
    position: relative;
}

.img-inner{
    position: absolute;
    top: 19px;
    left : 100px;
    width: 237px;
    height: 525px;
    background-repeat: no-repeat;
    animation: fadeAnimation 20s infinite; /* 10초마다 반복하는 애니메이션 설정 */
}

/* @keyframes로 애니메이션 효과 정의 */
@keyframes fadeAnimation {
    0% {
        background-image: url('image/screenshot1.png');
    }
    25% {
        background-image: url('image/screenshot2.png');
    }
    50%{
        background-image: url('image/screenshot3.png');
    }
    75%{
        background-image: url('image/screenshot4.png');
    }
    100% {
        background-image: url('image/screenshot1.png');
    }
}

div{
    padding : 10px;
    margin: 5px;
}

.main{
    height: 635px;
    margin: 1px auto;
}

.main2{
    margin: 1px auto;
    height: 635px;
    display: flex;
    justify-content: center;
}

.footer{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: end;
}

.nav{
    display: flex;
    list-style: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
}

.nav li {
    margin-left: 36px;
}

.nav a {
    color: #432;
}

.join {
    font-weight: bold;
    color : rgb(0, 153, 255);
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 14px;
}

.form-login-logo{
    background-image: url('/image/8n91YnfPq0s.png');
    background-position: 0 -50px;
    background-repeat: no-repeat;
    width: 155px;
    height: 30px;
    margin: 35px;
}

.text{
    width: 270px;
    height : 30px;
    margin : 5px;
    padding-left: 8px;
    border : 1px rgb(206, 206, 206) solid;
    font-size: 12px;
}

.login-button{
    width: 270px;
    height : 35px;
    margin : 5px;
    background-color: rgb(0, 102, 255);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border : none;
}

.login-or{
    display: flex;
    width: 270px;
    height : 30px;
}

.login-or-hyphen{
    width: 120px;
    margin : 1px;
    padding : 0px;
    position: relative;
}

.login-or-hyphen::before {
    content: "";
    position: absolute;
    top: 50%; /* 부모 요소의 세로 중앙 */
    left: 0; /* 왼쪽에 위치 */
    width: 100%; /* 전체 너비 */
    height: 1px; /* 줄의 두께 */
    background-color: gray; /* 회색 줄 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
}

.login-or-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin : 1px;
    padding : 0px;
    color: gray;
    font-weight: bold;
    
}

@media (max-width: 1000px) {
    .box-to-hide {
        display: none; /* 화면이 600px 이하일 때 숨김 */
    }
}

.login-from-facebook{
    color: blue;
    height : 15px;
    display: flex;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.forget-password{
    color: blue;
    margin: 10px;
    font-size: 12px;
}

.logo-facebook{
    background-image: url('image/logo.png');
    background-repeat: no-repeat;
    background-position: -414px -259px;
    width: 15px;
    height: 15px;
    padding : 0px;
    margin-right: 10px;
}

.have_no_id{
    border : 1px rgb(206, 206, 206) solid;
    padding : 20px;
}

.logo-google{
    background-image: url(image/UtJtFmFLCiD.png);
    background-repeat: no-repeat;
    background-size : cover;
    width: 130px;
    height: 40px; 
    padding: 0;
    border-radius: 5px;
}

.logo-microsoft{
    background-image: url(image/LBxTdceDfgS.png);
    background-repeat: no-repeat;
    background-size : cover;
    width: 130px;
    height: 40px; 
    padding: 0;
    border-radius: 5px;
}

.logos{
    display: flex;
    padding : 0px;
    margin : 5px;
    justify-content: center;
}

.footer .footer-nav .nav-ul li a {
    font-size: 10px;
    color: gray; /* 원하는 색상으로 변경 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.footer .footer-nav .nav-ul li a:hover {
    text-decoration: underline;
}

.footer .footer-nav .nav-ul li{
    min-width: 30px;
}

.footer .footer-nav .nav-ul {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .footer-nav{
    width : 100vw;
    display: flex;
    justify-content: center;
}

.footer{
    width : 100vw;
    margin : 0 auto;
    display: flex;
    font-size: 10px;
    color: gray; 
    flex-direction: column;
    align-items: center;
}

.select-language{
    font-size: 10px;
    color: gray;
    border: none;
}

